@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+AU+TAS:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Scroll página */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: rgb(23, 23, 23);
}

/* Handle */
::-webkit-scrollbar-thumb {
/* transform: translate(100px); */
    background: #d8a347;
}

/* Handle active */
::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a3581e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Playwrite AU TAS", cursive; */
}

/* BODY */
body {
    background-color: #cd9d48;
    font-family: "Playwrite AU TAS", cursive;
}

/* HEADER */
header {
    height: 10vh;
    /* background-color: #67d4fb;    */
    background-color: cornflowerblue;
    color:  #cd9d48;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Playwrite AU TAS", cursive;
    & a {
            color: black;
            font-weight: bold;
            text-decoration: none;
            display: flex;
            flex-flow: column nowrap;
            &:hover {
                background-color: #ccc;
            }
        }
}

/* MAIN */
main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cd9d48;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
    width: 30%;
    padding: 40px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

form{
    width: 100%;
    padding:40px;
}
/* enlase login */
form a {
    text-decoration: none;
    color: gray;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 40px;
}
input:not(.check,.boton),select{
    width: 100%;
    margin-bottom: 0px;
    height: 40px;
    padding: 0px 20px;
    font-size: 1.2rem;
    border-radius: 20px;
    border: 2px solid cornflowerblue;
    background-color: #333333;
    outline: none;
    color:rgb(255, 255, 255);
}

.error input:not(.check,.boton),.error select{
    border: 2px solid cornflowerblue;
}

.error-text{
    color: cornflowerblue;
    font-size: 0.9rem;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.terminos{
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .textoCheck{
        color: #fff;
        margin-left: 0;
    }
}
/* mensajes */
.mensajes{
     text-align: center;
     width: 90%;
     div{
        font-weight: bold;
        font-size: 1.2rem;
        padding: 10px 20px;
        border-radius: 5px;
        opacity: 0.7;
        position: relative;
        .btn-close{
            background: none;
            border: 0;
            position: absolute;
             right: 1%;
             top: 6%;
            &:active i{
                color: #000;
            }
            i{
                color: #fff;
            }
        }
     }
}
#mensajeExito{
    display: none;
    border: 2px solid #00ff4c;
    background-color: #63f553ad ;
}
#mensajeError{
    display: none;
    border: 2px solid #ff000f;
    background-color: #ff002bc0 ;
}

.boton{
    width: 87%;
    box-sizing: content-box;
    background-color:cornflowerblue;
    border: 2px solid cornflowerblue;
    color: #ffffff;
    padding: 1rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    transition: all .6s;
    &:hover {
        cursor: pointer;
        transform: scale(0.95);
    }
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
}

/* mediaquary */

@media (max-width:1200px) {
    main .container {
        width: 95%;
        padding: 10px 10px;
    }
    header{
        padding: 0; 
    }
}
